.catalog {
  width: 100%;
  height: 100vh;
  user-select: none;
}
.catalog-body {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 140px;
  margin-bottom: 70px;
  grid-template-columns: 4fr 2fr;
  grid-gap: 65px;
}

.catalog-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 18px;
}

.catalog-item {
  width: 100%;
  cursor: pointer;
}
.catalog-item:hover {
  transform: translateY(-15px);
}
.catalog-item img {
  width: 100%;
}

.catalog-item-info {
  padding: 12px 0;
}
.catalog-item-info-name {
  color: #313131;
  letter-spacing: 0.15em;
  line-height: 150%;
  font-size: 12px;
}

.catalog-item-prices {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 12px;
  font-weight: 900;
}
.catalog-item-prices .catalog-item-price {
  text-decoration: line-through;
  color: rgba(49, 49, 49, 0.5);
}

.categories,
.filters {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-left: 64px;
}

.categories li {
  position: relative;
}

.active-category::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #181818;
  left: -65px;
  top: 5px;
}
.categories li a {
  color: #181818;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.list-seperator {
  width: 50%;
  height: 1px;
  background-color: #e5e5e5;
  margin-left: 64px;
  margin-top: 32px;
}

.filters {
  margin-top: 32px;
}

.catalog-controls {
  display: none;
}
@media screen and (min-width: 805px) {
  .catalog-body {
    display: grid;
  }
  .catalog-controls {
    display: block;
  }
}
